<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name ="SFE" content="Solutionsforeverything">
    <title>Courses</title>
    <meta content="Home page of solutions for everything" name="description">
    <meta content="" name="keywords">

    <link rel="icon" href="../assets/static/logo1.ico"  type="image/x-icon" size="16x16" >
    <link href="logo.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->

    <link href="../assets/vendor/aos/aos.css"  rel="stylesheet">
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Template Main CSS File -->
    <link href="../assets/css/style.css" rel="stylesheet">

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto">
            <pre><img src="../assets/static/logo.png"> <a href="/{{email}}">SFE</a></pre>
        </h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="/{{email}}">Home</a></li>
                <li><a class="nav-link scrollto" href="/{{email}}#about">About</a></li>
                <li><a class="nav-link scrollto" href="/{{email}}#services">Services</a></li>

                <li class="dropdown"><a href="#"><span>Menu</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>

                        <li class="dropdown"><a href="#"><span>Blogs</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="/blogs/{{email}}/pythonBlogs">Coding</a></li>
                                <li><a href="/blogs/{{email}}/cryptoBlogs">Crypto</a></li>
                                <li><a href="/blogs/{{email}}/generalBlogs">General</a></li>


                            </ul>
                        </li>

                        <li class="dropdown"><a href="#"><span>Projects</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="/projects/{{email}}/machine">Machine-learning projects</a></li>
                                <li><a href="/projects/{{email}}/python">python projects</a></li>
                                <li><a href="/projects/{{email}}/java">java projects</a></li>
                                <li><a href="/projects/{{email}}/web">Web projects</a></li>
                                <li><a href="/projects/{{email}}/cpp">c++ projects</a></li>

                            </ul>
                        <li><a href="/{{email}}/courses">Courses</a></li>
                        <li><a href="/{{email}}/websites">Websites</a></li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="/{{email}}#contact">Contact</a></li>
<!--                <div id="no_log"><div><li><a class="getstarted scrollto" href="#login">Login</a></li></div></div>-->
<!--                <div id="yes_log"><div><li><a class="getstarted scrollto" href="/profile/{{user}}">{{user}}</a> </li></div></div>-->
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header>
<div class="row">
<div class="col col-12" style="background-color: #37517e"><br><br><br></div>
</div>
<br><br>
<br><br>
<h1 align="center">Page is under processing</h1>
<br><br><br>
<br><br>
<footer id="footer" >
	<div class="footer-top" style="background-color: #f3f5fa ">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>SFE</h3>
                    <p>
                        chennai,<br>
                        India, 600 044<br>
                        <br><br>
                        <strong>Email:</strong> solutionsforeverything3@gmail.com<br>
                    </p>
                </div>

                 <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/{{email}}">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/{{email}}#about">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/{{email}}#services">Services</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://portal.termshub.io/solutionsforeverything.com/">Terms of service</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://portal.termshub.io/solutionsforeverything.com/">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                       <li><i class="bx bx-chevron-right"></i> <a href="/{{email}}/websites">Web Design</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/blogs/{{email}}/total">Blogs</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/projects/{{email}}/xyxz">Projects</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/{{email}}/courses">Courses</a></li>

                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Social Networks</h4>
                    <p>For more details follow our social networks</p>
                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                        <a href="https://www.facebook.com/profile.php?id=100069192901470" class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="https://www.instagram.com/solutionsforeverything3/" class="instagram"><i class="bx bxl-instagram"></i></a>
                        <a href="https://www.youtube.com/channel/UCgTQBk8L_aQz6p9kj9rutqQ" class="google-plus"><i class="bx bxl-youtube"></i></a>
                        <a href="https://github.com/solutionsforeverything" class="linkedin"><i class="bx bxl-github"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; Copyright <strong><span>Solutionsforeverything</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a href="https://solutionsforeverything.com/">Solutionsforeverything</a>
        </div>
    </div>
</footer><!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../assets/vendor/aos/aos.js"></script>
<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../assets/vendor/php-email-form/validate.js"></script>
<script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="../assets/vendor/waypoints/noframework.waypoints.js"></script>

<!-- Template Main JS File -->
<script src="../assets/js/main.js"></script>
</body>
</html>